@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: 'Times New Roman';
	font-display: swap;
	src: url('/fonts/times-new-roman-400.woff2') format('woff2');
}

@font-face {
	font-weight: 700;
	font-style: normal;
	font-family: 'Verdana';
	font-display: swap;
	src: url('/fonts/verdana-700.woff2') format('woff2');
}

body {
	--color-back: #faf5ee;
	--color-back-base: #ecd6b2;
	--color-blacky: #555555;
	--color-white: #ffffff;
	--color-link: #000080;

	--font-accent: 'Verdana', serif;

	min-width: 320px;
	margin: 10px;
	overflow: hidden scroll;
	font-size: 18px;
	line-height: 1.1667;
	font-family: 'Times New Roman', serif;
	font-feature-settings:
		'tnum' on,
		'lnum' on;
	background-color: var(--color-back-base);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
}

main {
	box-sizing: border-box;
	max-width: 800px;
	min-height: calc(100dvh - 20px);
	margin: 0 auto;
	padding: 30px 20px 40px;
	background-color: var(--color-white);
	border: 1px solid;
	border-right: var(--color-blacky) 2px outset;
	border-bottom: var(--color-blacky) 2px outset;
}

h1 {
	margin: 0 0 30px;
	padding: 10px;
	font-weight: 700;
	font-size: 19px;
	line-height: 23px;
	font-family: var(--font-accent);
	text-align: center;
	background-color: var(--color-back);
	border-top: 1px solid var(--color-blacky);
	border-bottom: 1px solid var(--color-blacky);
}

h2 {
	margin: 0 0 25px;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	font-family: var(--font-accent);
	text-align: center;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border-top: 2px solid var(--color-blacky);
}

li {
	counter-increment: items;
	display: grid;
	gap: 10px;
	grid-template-columns: auto 1fr;
	padding: 10px;
	border-bottom: 1px solid var(--color-blacky);

	&::before {
		content: counter(items) '.';
	}

	&:nth-child(2n + 1) {
		background-color: var(--color-back);
	}
}

a {
	justify-self: start;
	text-decoration: none;
	text-decoration-skip-ink: none;
	color: var(--color-link);
}

@media (hover: hover) {
	a:hover {
		text-decoration: underline;
	}
}

@media (min-width: 768px) {
	main {
		padding-inline: 30px;
	}
}
